html, body {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
  color: #ffffff;
  font-size: 3em;  
}

h2, h3, h4 {
    color: #ffffff;

}

p {
  color: #f9f9f9;
}

/* Map canvas related styles */

#map { 
  background-color: #f9f9f9;
  cursor: move;
  -webkit-tap-highlight-color: transparent;
}

.mapboxgl-ctrl-attrib {
  color: #535353;
}

.mapboxgl-ctrl-attrib a {
  color: #317581;
  text-decoration: underline;
}

.scroll {
  position: relative;
}

.scroll__graphic {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  cursor: move;
}

.scroll__graphic.is-fixed {
  position: fixed;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
}

.scroll__text {
  z-index: 10000;
  position: absolute;
  right: 10px;
  top: 0;
  height: auto;
  width: 30%;
  padding: 1rem;
  cursor: all-scroll;
}

.step {
  background-color: #E17000;
  opacity: 1;
  padding: 1rem;
  margin-bottom: 30px;
}

#first-step {
  margin-top: 25%;
}

#last-step {
  margin-bottom:500px;
}

.centered {
  z-index:100000;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0 0 10px;
  height: 60px;
}

fieldset:last-child {
  margin: 0;
}

#swatches button {
  display: inline-block;
  width: 36px;
  height: 15px;
  border: none;
  cursor: pointer;
}

#layer{
  cusor:pointer;
}

#current_zoom{
  margin-top: 100px;
}

#opties button {
  display: inline-block;
  width: 100px;
  margin: 2px;
  height: 30px;
  cursor: pointer;
  background-color: #f9f9f9;
}

/*SEARCH BAR*/
.scroll__graphic #search_bar{
  z-index: 10000;
  position: absolute;
  top: 10px;
  left: 50px;
}

span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  font-family: "lato";
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #317581;
  text-decoration: none;
  outline: 0;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

.tt-dataset{
  color:#ff0000;
}
.tt-highlight{
  color:#317581;
}

